* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: didot;
    font-weight: 200;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url(https://i.imgur.com/v2Cz1U6.png);
    /* background-size: 60%; */
    background-size: 50%;
    background-position: right;
    background-repeat: no-repeat;
}

#nav-bar {
    text-align: right;
    padding-right: 60px;
    margin-top: -162px;
}
.menu-btn {
    display: none;
}

a {
    text-decoration: none;
    color: rgb(186, 148, 120);
}

li {
    font-family: didot;
    font-size: 20px;
    font-weight: lighter;
    color: black;
    display: inline;
    padding: 0px 10px 0px 10px;
    margin-left: 14px;
    color: white;
}

h1 {
    font-family: didot;
    font-size: 100px;
    font-weight: lighter;
    padding: 80px 0px 0px 60px;
    color: rgb(186, 148, 120);
}

h4 {
    font-family: didot;
    font-weight: lighter;
    font-size: 28px;
    padding: 0px 0px 0px 500px;
    color: rgb(186, 148, 120);
}

#quote {
    font-family: didot;
    font-weight: lighter;
    font-size: 45px;
    text-align: left;
    margin-top: 200px;
    margin-left: 100px;
    color: rgb(186, 148, 120);
}

#bigger-quote {
    font-family: didot;
    font-weight: lighter;
    font-size: 45px;
    text-align: left;
    margin-left: 100px;
    color: rgb(186, 148, 120);
}

footer {
    bottom: 0;
    width: 100%;
    height: 2rem;
    font-size: 15px;
    justify-content: center;
    text-align: center;
    color: rgb(186, 148, 120);
    margin: auto;
}

h6 {
    font-size: 18px;
}

main {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 300px 0px 0px 60px;
}

h3 {
    font-weight: 100;
    font-size: 15px;
}

.description {
    font-size: 12px;
}

article {
    /* width: 270px;
    height: 70px;
    border-radius: 12px; */
    width: 250px;
    height: 55px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 10px;
    font-family: didot;
    color: rgb(229, 221, 209);
    background-color: rgb(186, 148, 120);
    box-shadow: 0 4px 8px 0 rgba(137, 107, 82, 0.2), 0 6px 20px 0 rgba(137, 107, 82, 0.19);
    padding: 15px
}

.modal {
    font-family: didot;
    color: rgba(137, 107, 82);
    background-color: rgb(229, 221, 209) !important;
}

.fa-instagram,
.fa-facebook,
.fa-youtube,
.fa-spotify {
    color: rgb(186, 148, 120);
    display: inline-block;
    padding: 8px;
    text-align: right;
    font-size: 1.5rem;
}
@media (max-width: 1175px) {
    .menu-btn {
        display: block;
        float: right;
        border: none;
        outline: none;
        background-color: transparent;
        margin: -162px 30px 0 0;
        font-size: 40px;
        color: rgba(186, 148, 120);
    }
    #nav-bar {
        display: none;
    }

}

@media (max-width: 600px) {
    h1 {
        font-size: 50px;
        padding: 5px;
    }

    h4 {
        font-size: 18px;
        padding: 0px 0px 0px 200px;
    }

    li {
        padding: 5px 1px 1px 1px;
        display: block;
        text-align: right;
        font-size: 12px;
    }

    /* #nav-bar {
        text-align: right;
        padding-right: 10px;
        margin-top: -162px;
    } */

    #quote {
        font-size: 18px;
        text-align: left;
        margin-top: 200px;
        margin-left: 100px;
        color: rgb(186, 148, 120);
    }

    #bigger-quote {
        font-size: 18px;
        text-align: left;
        margin-left: 20px;
        color: rgb(186, 148, 120);
    }

    body {

        min-height: 30vh;
        background-image: url(https://i.imgur.com/v2Cz1U6.png);
        background-size: 80%;
        background-position: center;
        background-repeat: no-repeat;
    }

    article {
        width: 150px;
        height: 30px;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 10px;
        font-family: didot;
        color: rgb(229, 221, 209);
        background-color: rgb(186, 148, 120, 0.85);
        box-shadow: 0 4px 8px 0 rgba(137, 107, 82, 0.2), 0 6px 20px 0 rgba(137, 107, 82, 0.19);
        padding: 15px
    }
    
    main {
        display: flex;
        flex-wrap: wrap;
        max-width: 400px;
        margin: 310px 0px 0px 28px;
    }

    h6 {
        font-size: 12px;
    }

    .fa-instagram,
    .fa-facebook,
    .fa-youtube,
    .fa-spotify {
        color: rgb(186, 148, 120);
        display: inline-block;
        padding: 8px;
        text-align: right;
        font-size: .75rem;
    }

    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 5rem;
        font-size: 10px;
        justify-content: center;
        text-align: center;
        color: rgb(186, 148, 120);
    }

    h3 {
        font-weight: 100;
        font-size: 10px;
    }
    
    .description {
        font-size: 9px;
    }


}